<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="LineZero">
  <title>LineZero</title>
  <link rel="stylesheet" href="assets/css/global.css">
  <link rel="shortcut icon" href="assets/img/linezero.ico">
</head>
<body>
<h1><span class="sr-only">LineZero</span></h1>
<%=content%>
</body>
</html>
